<%= render "shared/header" %>
<%= render "shared/second_header" %>

<div class="main">

  <div class="all"> ALL
  <span class ="dress-count" > <%= @dresses.count %>   items </span>
  </div>
  
  <div class="pagination">
  <%= paginate @dresses %>
  </div>

  <ul class="dress-lists">
    <% @dresses.each do |dress| %>
    <li class="list">
      <%= link_to dress_path(dress.id), class: "no-decoration" do %>
      <div class="dress-img">
        <% if dress.images.attached? %>
        <%= image_tag dress.images[0], class: "dress-img" %> 
        <% end %>
       </div>
      <% end %>

    <%= link_to genre_path(dress.genre), class: "no-decoration" do %>
      <div class='dress-info-group'>
        <div class='dress-info'><%= dress.genre.name %></div>
        <div class='dress-info'><%= dress.size.name %></div>
    <% end %>
        <div class="mylist-button">
         <div id="mylist-btn<%= dress.id %>">
           <%= render partial: "mylists/mylist", locals: { dress: dress } %>
         </div>
       </div>
      </div>
  
    </li>
    <% end %>
 </ul>
 </div>
 
 <%= render "genre"%>
<%= render "shared/footer" %>