<%= render "shared/header" %>
<%= render "shared/second_header" %>

<div class="main">
  <div class="all"> ALL </div>
  <ul class="dress-lists">
    <% @dresses.each do |dress| %>
    <li class="list">
      <%= link_to dress_path(dress.id),class: "no-decoration" do %>
      <div class="dress-img">
        <% if dress.images.attached? %>
        <%= image_tag dress.images[0], class: "dress-img" %> 
        <% end %>
      </div>
      <div class='dress-info-group'>
        <div class='dress-info'><%= dress.genre.name %></div>
        <div class='dress-info'><%= dress.size.name %></div>
      </div>
    <% end %>
    </li>
    <% end %>
 </ul>
 </div>
 
 <%= render "genre"%>>

<%= render "shared/footer" %>
