<%= render "shared/header" %>
<%= render "shared/second_header" %>

<%# <%= turbo_frame_tag "dress_#{params[:id]}" do %>
<div class="dress-show">
  <div class="dress-box">
    <div class="dress-img-content">
        <div class="dress-show-images">
          <% @dress.images[0..-1].each do |image| %>
              <%= image_tag image, class:"dress-show-image" %>
          <% end %>
        </div>
    </div>
  </div>

        <%= link_to "edit", edit_dress_path(@dress.id), method: :get, class: "dress-show-btn" %>
        <p class="or-text">or</p>
        <%= link_to "delete", dress_path(@dress.id), data: { turbo_method: :delete }, class:"dress-show-btn" %>
  </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">category</th>
          <td class="detail-value"><%= @dress.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item">brand</th>
          <td class="detail-value"><%= @dress.brand %></td>
        </tr>
        <tr>
          <th class="detail-item">size</th>
          <td class="detail-value"><%= @dress.size.name %></td>
        </tr>
        <tr>
          <th class="detail-item">date of purchase</th>
          <td class="detail-value"><%= @dress.date %></td>
        </tr>
        <tr>
          <th class="detail-item">price</th>
          <td class="detail-value">￥<%= @dress.price %></td>
        </tr>
      </tbody>
    </table>
    
  <div class="option">
    <div class="mylist-button">
      <div id="mylist-btn<%= @dress.id %>">
          <%= render partial: "mylists/mylist", locals: { dress: @dress } %>
      </div>
    </div>
</div>
<%# <% end %>

<%= render "shared/footer" %>